{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock title %}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  {% tailwind_css %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>

<body class="bg-gray-50 font-serif leading-normal tracking-normal">

  {% include "./navbar.html" %}
  {% block content %}





  {% endblock content %}


  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const userMenuButton = document.getElementById('user-menu-button');
      const userMenu = document.getElementById('user-menu');

      // Toggle the dropdown menu when the button is clicked
      userMenuButton.addEventListener('click', function () {
        const expanded = userMenuButton.getAttribute('aria-expanded') === 'true' || false;
        userMenuButton.setAttribute('aria-expanded', !expanded);
        userMenu.classList.toggle('hidden');
      });

      // Close the dropdown menu when clicking outside of it
      document.addEventListener('click', function (event) {
        const isClickInside = userMenu.contains(event.target) || userMenuButton.contains(event.target);
        if (!isClickInside) {
          userMenuButton.setAttribute('aria-expanded', 'false');
          userMenu.classList.add('hidden');
        }
      });
    });
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

  {% block extra_js %}
  {% endblock extra_js %}
</body>

</html>